@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

*,
*:after,
*:before {
box-sizing: inherit;
}

@media(max-width:1000px){

    html{
        scrollbar-width: none; 
    }

    html::-webkit-scrollbar { 
        display: none; 
    }
}

body{
    font-family:'Roboto';
    color:var(--blak);
    background-color:#F5FAFF;
    /*background: linear-gradient(to bottom, rgb(255,255,255) 70%, rgb(235,235,235))*/
}

.svg{
    width:24px;
    height:24px;
}

a{
    text-decoration: none;
    font-family:'Lato'
}

h1{
    font-family:'Lato';
}

h2{
    font-family:'Lato';
    color:var(--blak);
}

h3{
    font-family:'Lato';
    display:inline-block;
    color:var(--blak);
}

h4{
    font-family:'Lato';
}

label{
    color:var(--blak);
}

p{
    color:var(--blak);
}

input{
    border:none;
    border-radius:2px;
}

div{
    border-radius:2px;
}

input:hover{ cursor: pointer }
input + label:hover{ cursor: pointer}
