#maingrid{
    display:grid;
    justify-items:center;
    height: 94vh;
    grid-template-rows: 24px 50px auto 50px 1fr  20px 6vh;
    grid-template-columns: auto 100% auto ;
    margin: 3vh 5vw;
}

#maingrid .header{
  grid-column:1 / 3;
  grid-row:1;
  justify-self:start;
  height:24px;
  display:grid;
  justify-items: start;
  align-items: center;
}

#maingrid .header a {
height:24px;
width:24px;
}

#maingrid > h3{
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    text-align:left;
    justify-self: start;    
    margin:0;
    font-weight:700;
    font-size:36pt
}

#maingrid > form {
 /*   display:grid;
    justify-items:inherit;*/
    width:100%;
    max-width:100%;
    grid-column: 2 / 2;
    grid-row: 5 ;
    justify-self:stretch;
    align-self:stretch;
}

#maingrid > form > section {
    width:100%;
    height:100%;
    justify-items:inherit;
}

@media(min-width:400px){
    #maingrid { grid-template-columns: auto 400px auto ;}
}

.organiser{
  justify-content:space-between;
}

.flexbutton{
    display:flex;
    justify-content: space-between;
    flex-wrap:nowrap;
    margin-bottom:18%;
}

.flexbutton div{
    width: 130px;
    height: 50px;
    position: relative;  
    background-color:var(--whit);
    flex:none;
    display:grid;
    justify-items:center;
    align-items:center;
}

.ov-x{
    overflow-x:scroll;
  scrollbar-width: none; 
  -webkit-srollbar:none;
  /*width:100vw;*/
}

.ov-x div{
    margin-right:30px;
}


.big div {
    width: 45%;
    height: 20vh;
    top:0;
    left:0;
}

 .buttonAppearance{
    appearance:none;
    -webkit-appearance:none;
    display: inline-block;
    position: relative;
    background-color:var(--whit);
    z-index:1;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    margin:0
}

.buttonAppearance + label{
    position: absolute;
    display:inline;
    z-index:4;
    text-align:center;
    text-transform:uppercase;
    font-weight:700;
    font-family:'Lato';
    font-size:14pt;
}

.ov-x div label {
    top:30%
}

.buttonAppearance:checked{
    background-color:var(--raid);
    transition: all 0.3s ;
}
.buttonAppearance:checked + label{
    color:var(--whit);
}


/* input text & placeholder, for all browsers */

.textArea{
    justify-self:stretch;
    width:calc(100% - 5vw);
    height:50px;
    background-color:var(--whit);
    padding-left:20px;
    cursor:text;
}

.textArea::-moz-placeholder{
  color:var(--blak);
  opacity:0.8;
  font-weight:500;
  font-size:1.2em;
}

.textArea:-moz-placeholder{
  color:var(--blak);
  opacity:0.8;
  font-weight:500;
  font-size:1.2em;
}

.textArea::-webkit-input-placeholder {
  color:var(--blak);
  opacity:0.8;
  font-weight:500;
  font-size:1.2em;
}

.textArea:-ms-input-placeholder {
  color:var(--blak);
  opacity:0.8;
  font-weight:500;
  font-size:1.2em;
}


/* skiping button */
.pass{
    /*position:fixed;
    bottom:3vh;
    right:5vw;*/
    grid-column: 2 / 3 ;
    grid-row: 7;
    justify-self:stretch;
    display:grid;
    justify-items: end;
    align-items: center;  
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-bottom:unset;
    cursor: pointer;
    background-color:#FFFFFF;
    z-index:10;
}

.pass .svg{
    width:38px;
    height:38px;
}

.next{ background-image:url('../assets/icons/arrow-right-circle.svg') }
.goBack{ background-image:url('../assets/icons/arrow-left.svg') }


.redButton a{
  font-weight:600;
  font-size:1.2em;
  color:var(--whit);
  line-height:1.2em;
}

.redButton{
    background-color:var(--raid);
    justify-self:stretch;
    padding:15px 0;
    text-transform: uppercase;
    color:var(--whit);
    border-radius:4px;
    justify-items: center;
    border:none;
}


.description{
  display:grid;
  align-items:end;
}
/* PLACEHOLDER TEXT INPUT */   

.field{
  --fieldBorderColor: #D1C4E9;
  --fieldBorderColorActive: var(--raid);
}

.a-field{
    --uiFieldHeight: var(--fieldHeight, 40px);  
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldBorderColor: var(--fieldBorderColor);
  
    --uiFieldFontSize: var(--fieldFontSize, 1em);
    --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);
  
    --uiFieldPaddingRight: var(--fieldPaddingRight, 10px);
    --uiFieldPaddingBottom: var(--fieldPaddingBottom, 10px);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 10px);   
  
    position: relative;
    font-size: var(--uiFieldFontSize);
    padding-top: 1em;
    display: grid;
    align-items:end;
    justify-self:stretch;
    align-self:stretch;

}
  
  .field__input{ 
    background-color: transparent;
    border-radius: 0;
    border: none;
  
    font-family: inherit;
    font-size: 1em;
    color: var(--gris);
    opacity: 1;
  }
  
  .field__input:focus::-webkit-input-placeholder{
    color: var(--gris);
  }
  
  .field__input:focus::-moz-placeholder{
    color: var(--gris);
    opacity: 1;
  }
  
  /*
  =====
  LEVEL 2. CORE STYLES
  =====
  */
  
  .a-field__input{ 
    display: block;
    width: calc(100% - var(--uiFieldPaddingRight) - var(--uiFieldPaddingLeft));
  }
  
  .a-field__input:focus{
    outline: none;
  }
  
  .a-field .a-field__input{
    height: var(--uiFieldHeight);
    padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);  
  }

  .a-field .a-field__input:focus::-webkit-input-placeholder{
    opacity: 1;
    transition-delay: .2s;
  }
  
  .a-field .a-field__input:focus::-moz-placeholder{
    opacity: 1;
    transition-delay: .2s;
  }
  
  .a-field .a-field__label-wrap{
    width: 100%;
    height: var(--uiFieldHeight);	 
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    cursor: text;
  }
  
  .a-field .a-field__label{
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    bottom: calc(50% - .5em);  
    line-height: 1;
    font-size: var(--uiFieldHintFontSize); 
    pointer-events: none;
    transition: opacity .2s ease-out;
    will-change: opacity;
  }
  
  .a-field_a2 .a-field__label-wrap:after{
    content: "";
    width: 0;
    height: var(--uiFieldBorderWidth);
    background-color: var(--fieldBorderColorActive);
    position: absolute;
    bottom: 0;
    left: 0;  
    transition: width .285s ease-out;
  }
  
  .a-field_a2 .a-field__input:focus ~ .a-field__label-wrap:after{
    width: 100%;
  }


.age{
  display:grid;
  grid-template-rows : repeat(4,40px) ;
  grid-template-columns: 1fr 1fr;
  grid-gap:2vh 50px;
  justify-content:stretch;
}

#age div{
  /*width: 130px;
  height: 50px;*/
  border-radius:4px;
  position: relative;  
  background-color:var(--whit);
  display:grid;
  justify-items:center;
  align-items:center;
  justify-self:stretch;
  align-self:stretch;
}

#age div > a{
  width:100%;
  height:100%;
}


#b8{
  grid-area: 1 / 1 / 1 / 1;
}

#b12{
  grid-area: 2 / 1 / 2 / 1;
}

#b16{
  grid-area: 3 / 1 / 3 / 1;
}

#b18{
  grid-area: 4 / 1 / 4 / 1;
}

#tous{
  grid-area: 1 / 2 / 5 / 2;
  justify-self:stretch;
  align-self:stretch;
}

#tous > input{
  grid-area: 1 / 1 / 5 / 3;
  justify-self:stretch;
  align-self:stretch;
}

.lieu > input {
  margin-top:30px
}

.confirmation{
  display:grid;
  align-items:end;
}

.confirmation .redButton {
  display:grid;
  align-items:center;
  justify-content:center;
  text-transform:unset;
  font-size:1.3em;
  cursor:pointer;
  padding:30px 0;
}


.date{
  display:grid;
  grid-template-rows: 28px auto 1fr;
}

.view{
  display:flex;
  justify-content: flex-end;
}

.view > * {
  height:28px;
  width:28px;
  margin-left:20px;
}

.view > .list{ 
  opacity:0.5;
}

.days{
  display:grid;
  grid-template-columns: repeat(7, auto);
  justify-content: space-between;
  justify-items:center;
  font-size:1.2em;
  font-weight:600;
  margin:10px 0
}

.agenda{
  overflow: hidden;
  overflow-y:scroll;
  scrollbar-width: none; 
  -webkit-srollbar:none;
}

.agenda > h4{
  font-size:1.4em;
  margin:0 0 40px 0
}

.agenda > .numbers{
  display:grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap:35px;
  justify-content:space-between;

  margin-bottom:40px;
}

.agenda > .numbers > p{
  margin:0;
  font-size:1.2em;
  font-weight:600;
}

.passed{
  opacity:0.5;
}

.heure{
  display:grid;
  align-items:center;
  justify-items:center;
  grid-template-rows: 70px 90px auto;
  grid-template-columns:auto 80% auto;
}

.timer{
  justify-self: stretch;
  align-self: stretch;
  position:relative;
  grid-area: 2 / 2 / 3 /3;
  display:grid;
  background-color:#EFEFEF;
  border-radius:45px;
}

.timer > input {
  z-index:1;
  border-radius:45px;
  justify-self: center;
  align-self: center;
  background-color:#EFEFEF;
  color:var(--gris);
  font-family:'Lato';
  font-weight:900;
  font-size:3em;
}

.timer > select{
  z-index:5;
  justify-self: stretch;
  align-self: stretch;
  opacity:0;
  /*top:0;
  left:0;
  width:100%;
  height:100%;*/
}

.timer::after{
  content: '';
  position: absolute;
  right: 15%;
  top: calc(50% - 8px);
  display: inline-block;
  padding:5px;
  border:solid var(--gris);
  border-width: 0 4px 4px 0;
  vertical-align: middle;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}


.timeList{
  position:absolute;
  width:100%;
  height:100%;
  text-align:center;
  -webkit-appearance: menulist-button;
  -moz-appearance: menulist-button;
  cursor: pointer;
}











.notForm{
  display:none;
}
