.maingrid{
    display:grid;
    justify-items:left;
    grid-template-rows: 24px repeat(4,auto);
    grid-template-columns:90vw;
    grid-row-gap: 50px; 
    margin: 3vh 5vw;
}


/* header buttons */

.maingrid .header{
  grid-column:1 / 3;
  grid-row:1;
  justify-self:start;
  height:24px;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position:relative;
  z-index:30;
}

.maingrid .header a {
height:24px;
width:24px;
}

.maingrid .header > div{
    display:grid;
    grid-template-columns:24px 24px 24px;
    grid-template-rows:24px;
    grid-column-gap:15px;
    position:relative;
}

.menu{
    transition:0.3 ease-in-out;
    background-image:url('../assets/icons/menu.svg') ;
}

.chat{background-image:url('../assets/icons/message-circle.svg') }
.search{ background-image:url('../assets/icons/search.svg') ; }
.notifs{background-image:url('../assets/icons/bell.svg') }

#searching{
    display:none;
    position:relative;
}


.maingrid > section > h2{
    margin:0 0 20px 0;
}

.maingrid > section{
    width:95vw;
}

#events{
    grid-row:2/3;
}

#affiche{
    grid-row:3/4;
}

#artistes{
    grid-row:4/5;
}

#news{
    grid-row:5/6;
}

.searching{
    position:absolute;
    transition:ease-in-out
}

.inSearch{
    display:inline-block !important;
}

.header span{
    opacity:0;
    content:' ';
    width:0;
    height:2px;
    background-color:var(--blak);
    position:absolute;
    right:0;
    bottom: -5px;
    transform:rotate(180deg);
}

#searching_input{
    display:none;
    position:absolute;
    width:calc(100% - 40px);
    height:2em;
    right:0;
}

#searching_input input{
    width:calc(100% - 40px);
    height:2em;
    cursor:text;
    color:var(--blak);
    font-weight:500;
    font-size:1em;
    background-color:rgb(0,0,0,0)
}

#searching_input input::-moz-placeholder{
    opacity:1
  }
  
  #searching_input input:-moz-placeholder{
    opacity:1
  }
  
  #searching_input input::-webkit-input-placeholder {
    opacity:1
  }
  
  #searching_input input:-ms-input-placeholder {
    opacity:1
  }


  .searchPage{
      grid-area: 2 / 1 / 7 / 2;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color:rgba(255,255,255,0.95);
      z-index:15;
      transform:translateY(-3000px);
      opacity:0;
  }


  .searchPage article {
      position:relative;
  }


  .searchPage article a {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:20
}

.searchPage article > img{
    max-height:261px;
}

.searchPage article .infos h4{
    text-transform:uppercase;
    font-size:1.2em;
    font-weight:900;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    margin:0 0 15px 0;
}

.searchPage article .infos div{
    display:grid;
    grid-template-columns: 24px auto;
    grid-column-gap:20px;
    justify-items:start;
    align-items:center;
    margin: 0 0 10px 0;
}

.searchPage article .infos div:last-child{
    margin: 0 
}

.searchPage article .infos div img{
    width:24px;
    height:24px;
}

.searchPage article .infos p{
    color:var(--blak);
    text-align:left;
    font-size:1em;
    font-weight:500;
    margin:0 0 10px 0;
    text-transform:capitalize
}

.searchPage article .infos .dateSearch{
    font-weight:400 !important;
}

.prixSearch{
    color:var(--raid) !important;
    font-size:1.3em !important;
    font-weight:700 !important;
    position:absolute;
    right:20px;
    bottom:7px;
}

.listHidden{
    display: none !important;
}