#card_artiste{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    height: 15vw;
    width: 10vw;
    border-radius: 5px;
    box-shadow: 4px 4px 15px rgb(182, 182, 182);
}

#card_artiste a {
    width: 100%;
    height: 100%; 
    text-decoration: none; color: black;
    text-align: center;

}

#card_artiste a .img{
    height: 70%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
        
}

#card_artiste {
    background-color: #EDEEED;
    margin: 20px;
}

#artistes_enavant{
    display: flex;
    flex-direction: row;
    overflow-x:scroll;
  scrollbar-width: none; 
  -webkit-srollbar:none;
}

